@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --bg-color: #110e0e;
  --link-color: #1a1717;
  --link-hover-color: #800000;
  --color-4: #dfca4e;
  --color-5: #3c3030;

  --primary-font: "Julius Sans One", sans-serif;
  --secondary-font: "Quicksand", sans-serif;
  --main-text-color: #000;

  --white-space: 1rem;
}

html{
    font-size: 15px;
    font-family: var(--primary-font);
}


.eachMovieArticle {
    margin: 0 auto;
    width: 80%;
    height: 90%;
    border: 5px solid black;
    padding: 20px;
}

h1.header{
    font-size: 4em;
    text-align: center;
}

main {
    margin: 10px;
    padding: 20px;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 50px;
    align-items: center;
}

img{
    width: 100%;
}
